*{
    font-family: 'Grandstander', cursive,monospace;
}
body {
    margin: 0 ;
    padding: 0;
    background-color: #151515;
    color: white;
}

@media all and (max-width: 425px),(orientation: portrait) {
    body{
        /*max-height: 1000px;*/
        margin: 0;
        padding: 0;
        background-color: #151515 ;
        color:white;
        display: flex;
        justify-content: flex-start;
        flex-flow: column wrap;
    }


}
