*{
	font-family: 'Roboto',monospace,san-serif;
}
html,body{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
#NAME{
	display: flex;
	width: auto;
}
.Name{
	margin: 0 5px 0 5px;
}
.rest{
	display: flex;
	flex-direction: column;
	margin: 10px 0 0 0;
}
.last{
	display: flex;
	flex-direction: column;
	margin: 10px 0 0 0;
}
input[type=text],textarea{
	border-radius: 5px;
	padding: 10px;
}
input[type=submit] {
  background-color: #4F4F4F;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover{
	background-color: #0E0E0E;
}
form{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-direction: column;
}
@media all and (orientation: portrait),(max-width: 425px){
form{
	display: flex;
	/*scale : 2;*/
	width: 90vw;
	height: 100%;
}
	#indiv ,#FirstName ,#LastName , .Name{
		width: 95%;
		height: auto;
		
	}
	#FirstName ,#LastName {
		height: 2vh;
	}
}