:root{
    --state:running;
}
nav {
    margin: 0;
    padding: 0;
    position: relative;
    top: -1%;
    background-color: #202022;
    overflow: hidden;
    height: 40px;
    color: #202022;

}

nav a {
    padding-left: 30px;
    padding-right: 10px;
    float: left;
    color: white;
    text-align: center;
    font-size: 25px;
}

nav a:hover {
    background-color: #777777;
    color: white;
    height: 100%;
}

nav a.active {
    color: wheat;
    background-color: #58585b;
    height: 100%;
}

body {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
    /* animation: bg ;
    animation-duration: 4s; */
    background-color: #151515;
}

main {
    left: 38%;
    display: block;
    margin: 10% auto 0;
    text-align: center;
    width: 100%;
    position: relative;
    top: -10%;

}

#midBox {
    background-color: #202022;
    color: white;
    height: auto;
    width: 25%;
    border: 1px solid black;
    border-radius: 3%;

}


#img {
    border-radius: 50%;
    height: 80px;
    width: auto;
    box-shadow: 0 0 0 1.5em #202022;
}

#sp {
    position: relative;
    top: 50px;
    display: block;
    justify-content: center;
}

#tex {
    margin-top: 30%;
    margin-bottom: 30%;
}
#app{
    font-size: 20px;
    margin-left: 10px;
    position: relative;
}
#app::after{
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 5%;
    border-right: 2px solid black;
    animation: blink 0.5s infinite ease;
}
@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}