.line{
    margin: 0.5em -1em 0 -1em;
    color: white;
    border: 5px solid white  ;
    border-radius: 50%;

}

#leftHeader{
    margin: 1.5em 2em 1.5em 2em;
    width: 50%;
}
#rightHeader{
    margin: 1.5em 2em 1.5em 2em;
    width: 30%;
}
header{
display: flex;
    justify-content: space-between;
}
@media (max-width: 450px) {
    line{
        margin: 0.5em -1em 0 -1em;
        color: white;
        border: 5px solid white  ;
        border-radius: 50%;

    }

    #leftHeader{
        margin: 1.5em 2em 1.5em 2em;
        width: 50%;
    }
    #rightHeader{
        margin: 1.5em 2em 1.5em 2em;
        width: 10%;
    }
    header{
        display: flex;
        justify-content: space-between;
}
}